:root {
    --pink: #ff2a6d;
    --lblue: #d1f7ff;
    --blue: #05d9e8;
    --dblue: #005678;
    --ddblue: #01012b;
}

* {
    display: block;
    box-sizing: border-box;
    font-family: serif;
}

body {
    color: var(--lblue);
    background-color: black;
}

header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: var(--ddblue);
    height: 150px;
}

header h1 {
    font-size: 36px;
    color: var(--blue);
    margin: 25px;
    margin-top: 50px;
    margin-right: 0px;
}

header img {
    margin-top: 5px;
    max-height: 140px;
}

header a {
    text-decoration: none;
    color: var(--pink);
}

footer a {
    text-decoration: none;
    color: var(--pink);
}

header nav {
    margin-top: 120px;
}

header nav ul li{
    display: inline-block;
    margin-right:10px;
}

footer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: var(--ddblue);
    height: 150px;
}

#runner {
    max-height: 300px;
    float: center;
 }

footer h1 {
    font-size: 36px;
    color: var(--blue);
    margin: 25px;
    margin-top: 50px;
    margin-right: 0px;
    font-style: italic;
}

footer ul {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin-top: 25px;
    margin-right: 10px;
}

footer ul li {
    display: inline-block;
    font-size: 18px;
    color: var(--lblue);
    margin-left: 15px;
    margin-bottom: 5px;
}


main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

main a {
    text-decoration: none;
    color: var(--pink);
}



@media screen and (max-width: 992px) {
    header nav{
        margin-top: 50px;
    }
    header nav ul li{
        margin: 5px;
    }
}


@media screen and (max-width:768px) {
    header nav{
        margin-top: 25px;
    }

    header h1 {
        margin-top: 15px;
    }

    
}

@media screen and (max-width: 480px) {



}
   