:root {
    --pink: #ff2a6d;
    --lblue: #d1f7ff;
    --blue: #05d9e8;
    --dblue: #005678;
    --ddblue: #01012b;
}

* {
    box-sizing: border-box;
    font-family: serif;
}

body {
    color: var(--lblue);
    background-image: linear-gradient(to left, var(--ddblue), var(--dblue), var(--blue), var(--lblue));
}

.headerwrapper {
    display: flex;
}

.footerwrapper {
    display: flex;
}

header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: var(--ddblue);
    height: 150px;
    border-bottom-style: solid;
    border-width: 10px;
    margin-bottom: 10px;
    border-bottom-color: var(--dblue);
}

header h1 {
    font-size: 36px;
    color: var(--blue);
    margin: 25px;
    margin-top: 50px;
    margin-right: 0px;
}

header img {
    margin-top: 5px;
    max-height: 140px;
    margin-left:15px;
}

header a {
    text-decoration: none;
    color: var(--pink);
}

footer a {
    text-decoration: none;
    color: var(--pink);
}


header nav {
    margin-top: 120px;
}

header nav ul li{
    display: inline-block;
    margin-right:10px;
}

aside {
    /* display: flex; */
    /* float: left; */
    max-width: 400px;
}

#about-me h1 {
    font-size: 36px;
    color: var(--blue);
    font-style: italic;
    background-color: var(--ddblue);
    border-color: var(--dblue);
    border-width: 2px;
    border-style: dashed;
    border-bottom-style: hidden;
    padding: 10px;
}

#about-me p{
    background-color: var(--ddblue);
    max-width: 400px;
    border-color: var(--dblue);
    border-width: 2px;
    border-style: dashed;
    border-top-style: hidden;
    padding: 5px;
    padding-bottom:20px;
    
}

.columnwrapper {
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap:wrap;
    /* flex-direction: column; */
    justify-content: space-evenly;
    flex-grow: 1;
    min-height: 100vh;
    background: var(--ddblue);
}

main section {
    border-style: solid var(--blue);
    border-width: 2px;
    margin: 5px;
    /* flex: 1 0 200px;  */
    /* width:400px; */
}

.sub-section {
    display: flex;
    flex-wrap:wrap;
    flex-shrink: 1 0 0;
}

#bottom img {
    max-width: 400px;
    max-height: 200px;
}

main h2{
    /* height: 400px; */
}

.all-content {
    display: flex;
}

/* .app {
    text-align: end;
} */


/* .app.current {
    background-image: url(../assets/images/mouse.png);
    min-width: 500px;
    flex: 4 0 0;
    margin-right: 100px;
} 

.app.one {
    background-image: url(../assets/images/hell2.png);
    flex: 1 0 200px;
    margin-left: 200px;
} 

.app.two {
    background-image: url(../assets/images/frogs.png);
    flex: 1 0 200px;
} 

.app.three {
    background-image: url(../assets/images/rain.png);
    flex: 1 0 200px;
} 

.app.four {
    background-image: url(../assets/images/etedit.png);
    flex: 1 0 200px;
}  */


footer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: var(--ddblue);
    height: 150px;
    border-top-style: solid;
    border-width: 10px;
    margin-bottom: 10px;
    border-top-color: var(--dblue);
}

#runner {
    max-height: 300px;
 }

footer h1 {
    font-size: 36px;
    color: var(--blue);
    margin: 25px;
    margin-right: 0px;
    font-style: italic;
}

footer ul {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 15px;
}

footer ul li {
    display: inline-block;
    font-size: 18px;
    color: var(--lblue);
    margin-left: 15px;
    margin-bottom: 5px;
}




@media screen and (max-width: 992px) {
    header nav{
        margin-top: 50px;
    }
    header nav ul li{
        margin: 5px;
    }

    .app{
        min-height: 100px;
    }
}


@media screen and (max-width:768px) {
    header nav{
        margin-top: 25px;
    }

    header h1 {
        margin-top: 15px;
    }

    #bottom {
        width: 100%;
    }

    #top img {
        max-width: 300px;
    }
}

@media screen and (max-width: 480px) {



}
   